
<div class="container" fxLayout="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center center">

  <img class="check" src="assets/check.svg">

  <p>You are {{ position }} in queue</p>

	<button
		mat-raised-button
		(click)="cancel()"
		type="submit" color="primary">
		<span>Cancel</span>
	</button>

</div>