
<div *ngIf="!pending" class="container" fxLayout="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center center">

  <p class="title" fxLayoutAlign="center">
      Need Help?
  </p>

  <mat-form-field>
    <input matInput
      [(ngModel)]="message"
      name="message"
      required="required"
      pattern=".{6,30}"
      placeholder="Message" />
  </mat-form-field>

  <button
    mat-raised-button
    (click)="onCreateTicket()"
    type="submit" color="primary">
    <span>Get Ticket</span>
  </button>
  
</div>

<div *ngIf="pending" class="container" fxLayout="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center center">

    <img class="check" src="assets/check.svg">
  
    <p>You are {{ position }} in queue</p>
    <p>{{ message }}</p>
  
    <button
      mat-raised-button
      (click)="onDeleteTicket()"
      type="submit" color="primary">
      <span>Cancel</span>
    </button>
  
</div>

