mat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  max-width: 300px;

  input, button {
    font-size: 1.2rem;
  }

  button {
    padding: 5px 15px;
  }
  
  mat-card-title {
    font-size: 1.8rem;
  }

  mat-card-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
  }
}

.link {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.container{

  display: flex;
  align-items: center;
  justify-content: center; 
  height: 100%;

}